$font-color: #212529;

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
	padding-top: 80px;
	padding-bottom: 60px;
}

.small-caps {
	font-variant: small-caps;
}

.texto-compacto {
	font-variant: small-caps;
	letter-spacing: -0.05em;
}


.cardBoton {
	cursor: pointer;

    &:hover {
		color: #007bff;
		border-color: #007bff;
		background-color: #cce5ff;
    }

}


.cardInfoTanda {
	cursor: pointer;

    &:hover {
		border: 3px solid !important;
		padding: 14px !important;
    }

}

.cardInfoTanda-primary {
    &:hover {
		border-color: #007bff !important;
		color: #007bff !important;
    }
}
.cardInfoTanda-secondary {
    &:hover {
		border-color: #6c757d !important;
		color: #6c757d !important;
    }
}
.cardInfoTanda-success {
    &:hover {
		border-color: #28a745 !important;
		color: #28a745 !important;
    }
}
.cardInfoTanda-dark {
    &:hover {
		border-color: #343a40 !important;
		color: #343a40 !important;
    }
}


